@media (max-width: 1804px) {

    /* Esconde o nav desktop (links e redes sociais) sem quebrar layout */
    header nav .links,
    header nav .redes-sociais {
        display: none !important;
        visibility: hidden;
        height: 0;
        overflow: hidden;
    }

    /* container principal mantém tamanho, mas mostra navMobile */
    .navMobile {
        display: flex;

        & .menuMobile {
            position: absolute;
            right: 10%;
        }
    }

    aside div.mobile-logo a img {
        width: 90%;
        filter: drop-shadow(2px 2px 8px rgb(255, 251, 189));
    }

    /* garante que logo do header não quebre */
    .containerFlex {
        align-items: center;
        justify-content: space-between;
    }

    .parent {
        gap: .5em;

        & img {
            width: 100%;
            height: 100%;
        }
    }

    main .container {
        display: flex;
        flex-direction: column;
        width: 99dvw;
        place-items: center;
    }

    body>main>div>article {
        place-items: center;
        width: 45dvw;

        & p {
            height: 8.3em;
        }
    }

    .fullscreen-article-content img {
        height: 100%;
    }
}

@media (max-width: 1504px) {

    /* Esconde o nav desktop (links e redes sociais) sem quebrar layout */
    header nav .links,
    header nav .redes-sociais {
        display: none !important;
        visibility: hidden;
        height: 0;
        overflow: hidden;
    }

    /* container principal mantém tamanho, mas mostra navMobile */
    .navMobile {
        display: flex;

        & .menuMobile {
            position: absolute;
            right: 10%;
        }
    }

    aside div.mobile-logo a img {
        width: 90%;
        filter: drop-shadow(2px 2px 8px rgb(255, 251, 189));
    }

    /* garante que logo do header não quebre */
    .containerFlex {
        align-items: center;
        justify-content: space-between;
    }


    .parent {
        display: flex;
        flex-direction: column;

        div {

            & img {
                height: 25em;
            }
        }
    }

    main .container {
        display: flex;
        flex-direction: column;
        width: 100dvw;
        place-items: center;
        margin-bottom: 5em;

        & article {
            width: 100dvw;

            & p {
                height: 7.5em;
            }
        }
    }

    .fullscreen-article-content {
        display: flex;
        flex-direction: row;
        place-items: center;

        & img {
            width: 100%;
            height: 50%;
        }

        & .description {
            width: 100%;

            & p {
                width: 100%;
            }
        }
    }

    div.banner .carrossel {
        height: 70dvh;

        & img {
            height: 100%;
        }
    }

    footer {
        height: 5em;

        & .foot h2 {
            font-size: 1.2em;
        }
    }
}