@import './variaveis';

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@import "./header";

i {
    font-size: 1.5rem;
}

body {
    &p {
        font-family: "Roboto", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;

    }

    &h1, h2, h3, h4, h5, h6{
        font-family: "Nunito", sans-serif;
        font-weight: 800;
        font-style: normal;
    }
}

/* CARROSSEL */

@import "./carrossel";

/* ABAIXO DO CARROSSEL */

@import "./abaixoDoCarrossel";

/* MAIN */

@import './main';

// Footer

@import "./footer";

// Media Query

@import "./mediaQuery";

p {
    font-family: "Nunito", sans-serif;
}